header{
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

header .logo{
    flex: 1;
}

header a{
    text-transform: uppercase;
    color: #555;
}

header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
}

header ul li:hover{
    opacity: 1;
}

.menu{
    display: none;
}

.cart-icon{
    position: relative;
    margin-right: 20px;
}

.cart-icon span{
    background: rgb(84, 140, 168);
    border-radius: 20px;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px;
}

.CompanyLogo{
    width: 50px;
    object-fit: cover;
}

.logoContainer{
    position: absolute;
    top: 8px;
    left: 330px;
    
}

.adminLogoContainer{
    position: absolute;
    top: 17px;
    left: 198px;
}

.adminLogo{
    width: 30px;
    object-fit: cover;
}

/* Resource used: 
   ============== 
   YouTube video: 
   Video title: MERN Stack | Build a Ecommerce Website - Full
   Date published: October 11, 2020
   Published by: Dev A.T Viet Nam
   Link to video: https://www.youtube.com/watch?v=uXl77UFkrkQ
   ===========================================================
*/