* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 1330px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 30px;
  box-shadow: 0 0 55px black;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* I am importing my css style sheets into this index.css file as I have imported this file into the 
   index.js file so Ido not have to import a stylesheet into every component that needs to be styled. */

/* ----------------- Header ----------------- */
@import url('./components/headers/header.css');

/* ----------------- Products ----------------- */
@import url('./components/mainpages/products/products.css');

/* ----------------- Product Details ----------------- */
@import url('./components/mainpages/productDetail/productDetail.css');

/* ----------------- Login & Registrations components ----------------- */
@import url('./components/mainpages/auth/login.css');

/* ---------------------------- Cart  --------------------------------- */
@import url('./components/mainpages/cart/cart.css');

/* ---------------------------- Order History  --------------------------------- */
@import url("./components/mainpages/history/history.css");

/* ---------------------------- Categories  --------------------------------- */
@import url("./components/mainpages/categories/categories.css");

/* ---------------------------- Create Products  --------------------------------- */
@import url("./components/mainpages/createProducts/createProducts.css");

/* ---------------------------- Home page --------------------------------- */
@import url("./components/Home/home.css");

/* ---------------------------- Footer page --------------------------------- */
@import url("../src/components/footer/footer.css");

/* ---------------------------- About page --------------------------------- */
@import url("../src/components/about/about.css");

/* ---------------------------- Contact page --------------------------------- */
@import url("../src/components/contact/contact.css");

/* ---------------------------- Events page --------------------------------- */
@import url("../src/components/events/events.css");

/* ---------------------------- Users page --------------------------------- */
@import url("../src/components/mainpages/users/users.css");

/* As I have imported the relevant CSS style sheets, I am writing all of the media queries that are needed to make
  my website responsive in this one css file, it is easier to manage this way and I prefer this work flow. */

/* ---------------------------- Making the website responsive ---------------------------- */
@media (max-width: 2500px){
  .contactPageImage{
      width: 60%;
      left: 20%;
      top: 8.5%;
      height: 85%;
  }
  .contactPageHeading{
      margin-top: 4.5px;
  }

  .logoContainer{
    left: 570px;
  }

  .adminLogo{
    position: absolute;
    left: 155px;
  }

  .userEmailInfo{
    position: absolute;
    left: 800px;
  }

  .userRoleInfo{
    position: absolute;
    left: 1050px;
  }
  .App{
    max-width: 1500px;
  }

  .CompanyLogo{
    position: absolute;
    right: 38px;
    bottom: -50px;
  }

  .delete-all{
    margin-right: 69px;
  }

  .filter_menu{
    width: 92.18%;
    margin-left: auto;
    margin-right: 85px;
  }
}

@media (max-width: 1750px){
  .contactPageImage{
      width: 60%;
      left: 20%;
      margin-top: 10px;
      
  }
  .contactPageHeading{
      margin-top: 17px;
  }
  
  .logoContainer{
    left: 365px;
  }

  .adminLogo{
    position: absolute;
    left: -42px;
  }

  .userEmailInfo{
    position: absolute;
    left: 580px;
  }

  .userRoleInfo{
    position: absolute;
    left: 810px;
  }

  .filter_menu{
    width: 93.5%;
    margin-left: auto;
    margin-right: 72px;
  }
}

@media(max-width: 820px){
  header .logo{
    min-width: 115px;
    flex: none;
  }
  header ul{
    padding: 10px 0;
  }
}

@media(max-width: 720px){
  header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.98;
    z-index: 99;
    transition: 0.5s ease-in;
  }
  header .menu{
    display: block;
    cursor: pointer;
  }
  header ul li .menu{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header{
    justify-content: space-between;
  }
}

@media(max-width: 570px){
  .filter_menu .row span{
    display: none;
  }
}

@media(max-width: 500px){
  .App{
    padding: 0 10px;
  }
  .detail{
    font-size: 100%;
    padding: 0;
  }
  .filter_menu input{
    margin: 0;
  }
  .filter_menu .sort{
    flex: 1;
  }
  .filter_menu .sort select{
    width: 100%;
    min-width: 290px;
    margin: 5px 0;
  }
  .login-page{
    padding: 30px 10px;
  }
  .delete-all{
    margin: 20px 0;
  }
  .create_product .upload{
      margin: 20px 0;
  }

  .logo h1{
    position: absolute;
    top: 12px;
    left: 43px;
  }

  .cart-icon{
    position: relative;
    right: -10px;
  }
}

@media(max-width: 375px){
  .contactPageImage{
    top: 65px;
  }

  .contactPageFooterContainer{
    display: none;
  }

  .contactPageHeading{
    font-size: .9rem;
    width: 175px;
  }

  .logoContainer{
    left: 280px;
  }

  .CompanyLogo{
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .eventsFooterContainer{
    left: 17%;
    bottom: 15px;
  }
  
  .product_card{
    margin-right: 55px;
  }

  .filter_menu .sort select{
    width: 334.5px;
  }
}

/* Resource used: 
   ============== 
   YouTube video: 
   Video title: MERN Stack | Build a Ecommerce Website - Full
   Date published: October 11, 2020
   Published by: Dev A.T Viet Nam
   Link to video: https://www.youtube.com/watch?v=uXl77UFkrkQ
   ===========================================================
*/