.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    /* margin: 10px 0; */
    margin-left: auto;
    margin-right: auto;
    
    /* background-color: black */
}

/* ----------------- Product Items ----------------- */
@import url('../utils/productItem/productItem.css');

.delete-all{
    text-align: right;
    margin: 20px;
}

.delete-all input{
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
}

.delete-all span{
    text-transform: uppercase;
    color: rgb(3, 165, 206);
    letter-spacing: 1.3px;
}

.delete-all button{
    border: 1px solid crimson;
    padding: 10px 25px;
    color: crimson;
    text-transform: uppercase;
}

/* ===================== Filters Menu ===================== */

.filter_menu{
    width: 95.5%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.filter_menu select, input{
    border: 1px solid #ccc;
    height: 40px;
    outline: none;
    padding: 0 5px;
    color: whitesmoke;
    background-color: black;
}

::placeholder{
    color: whitesmoke;
    /* color: #FFF7AE; */
}

.filter_menu input{
    flex: 1;
    margin: 0 10px;
}

/* ====================== Load More ====================== */

.load_more{
    text-align: center;
    
}

.load_more button{
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 50px;
    background-color: black;
    color: whitesmoke;
}

/* ====================== Filters page =================== */

.sortAndFilterHeadings{
    padding-top: 10px;
    padding-right: 12px;
}