.subHomeContainer{
    /* border: solid 1px black; */
    text-align: center;
    /* background-color: #787A91; */
    color: #555;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 3px;
}

.carouselContainer{
    width: 100%;
    border: solid 1px black;
}

.newCarouselContainer{
    border: solid 2px black;
}

.homeImageContainer{
    width: 100%;
    height: 100%;
}

.homePageMainHeading{
    text-decoration: underline;
    color: #548CA8;
}

.homePageSlogan{
    opacity: 0.7;
}