.EventsPageHeading{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    padding-top: 10px;
    color: #548CA8;
}

.eventsFooterContainer{
    position: absolute;
    bottom: -3px;
    left: 42%;
}

/* Resource used: 
   ============== 
   YouTube video: 
   Video title: MERN Stack | Build a Ecommerce Website - Full
   Date published: October 11, 2020
   Published by: Dev A.T Viet Nam
   Link to video: https://www.youtube.com/watch?v=uXl77UFkrkQ
   ===========================================================
*/

