.load-page{
    background-color: #fff;
    overflow: hidden;
}

.loader{
    width: 300px;
    height: 300px;
    margin: auto;
}

.loader div{
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border: 2px solid #fff;
    border-top: 2px solid rgb(84, 140, 168);
    border-radius: 50%;
    animation: rotate 10s linear infinite alternate-reverse;
}

@keyframes rotate{
    50%{transform: rotate(80deg);}
    100%{transform: rotate(360deg);}
}

/* Resource used: 
   ============== 
   YouTube video: 
   Video title: MERN Stack | Build a Ecommerce Website - Full
   Date published: October 11, 2020
   Published by: Dev A.T Viet Nam
   Link to video: https://www.youtube.com/watch?v=uXl77UFkrkQ
   ===========================================================
*/