.history-page{
    overflow-x: auto;
}
.history-page h2, h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.history-page table{
    margin: auto;
    width: 100%;
}

.history-page table, th, tr, td{
    border: 1px  solid #ddd;
    border-collapse: collapse;
}

th, td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}

table a{
    color: rgb(3, 165, 206)
}

.history-page img{
    width: 90px;
    height: 110px;
    object-fit: cover;
}

.orderHistoryTable{
    background-color: black;
    color: whitesmoke;
}

.orderDetailsTable{
    background-color: black;
    color: whitesmoke;
}

.productsTable{
    background-color: black;
    color: whitesmoke;
}

.orderHistoryComponentMainHeadings{
    color: rgb(84, 140, 168);
    text-decoration: underline;
}

/* Resource used: 
   ============== 
   YouTube video: 
   Video title: MERN Stack | Build a Ecommerce Website - Full
   Date published: October 11, 2020
   Published by: Dev A.T Viet Nam
   Link to video: https://www.youtube.com/watch?v=uXl77UFkrkQ
   ===========================================================
*/