.mainContactContainer{
    /* border: 2px solid red; */
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px 0;
    
}

.contactPageHeading{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    text-decoration: underline;
    color: whitesmoke;
    border: 1px solid black;
    width: 43%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 5px;
    padding: 5px 0;
}

.contactMessageArea{
    width: 50%;
    margin-bottom: 40px;
    background-color: black;
}

.contactNameInput, .contactEmailInput{
    width: 50%;
    margin-bottom: 40px;
}

.contactSubmitButton{
    border-radius: 5px;
    cursor: pointer;
}

.contactSubmitButton:hover {
    color: #FFF7AE;
    background-color: black;
    transition: ease-in .7s;
    border: 1px solid #FFF7AE;
}

.contactPageImage{
    width: 80%;
    height: 596px;
    position: absolute;
    z-index: -1;
    top: 9.4%;
    /* left: 10%; */
    object-fit: cover;
}

.contactPageFooterContainer{
    position: absolute;
    bottom: 5px;
    left: 42%;
}

@media (max-width: 1750px){
    .contactPageImage{
        width: 60%;
        left: 30%;
        margin-top: 10px;
        
    }
    .contactPageHeading{
        margin-top: 17px;
    }    
}

@media (max-width: 2500px){
    .contactPageImage{
        width: 60%;
        left: 20%;
        top: 8.5%;
        height: 85%;
    }
    .contactPageHeading{
        margin-top: 4.5px;
    }
    
}