.aboutMainContainer{
    text-align: center;
    border-radius: 5px;
}

.aboutSubContainer{
    width: 98.8%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #171010; */
}

.aboutParagraph{
  padding: 0 10px;
  color: black;
  line-height: 20px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;

}

.aboutMainHeading{
    color: #548CA8;
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;    
}

.aboutOwnerImage{
    width: 100%;
    height: 640px;
    object-fit: cover;
    margin-top: 20px;
    padding: 1%;
    margin-bottom: .6%;
    background-color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
  }

  .bottomRow{
    background-color: #171010;
    border-bottom: 10px solid #171010;
    margin-top: 10px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Create four equal columns that are next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }