.aboutMainContainer{
    text-align: center;
    border-radius: 5px;
    
}

.aboutSubContainer{
    width: 98.8%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #548CA8; */
    /* color: #555; */
    
    /* font-weight: 600; */
    background-color: black;
    /* font-family: 'Kaisei Opti', serif; */
    
    /* opacity: 80%; */
}

.aboutParagraph{
  padding: 0 10px;
  color: white;
  line-height: 20px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;

}

.aboutMainHeading{
    /* border: solid 1px black; */
    color: #548CA8;
    /* background-color: #548CA8; */
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;    
}

.aboutOwnerImage{
    width: 98.5%;
    height: 440px;
    object-fit: cover;
    /* border-radius: 50%; */
    margin-top: 20px;
    padding-top: 1%;
    margin-bottom: .6%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }